.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background: var(--color-bg);
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

@media (min-width: 786px) {
  .container {
    padding: 32px;
  }
}

/* Bill Summary */

.billSummary {
  padding: 48px 32px 32px 32px;
}

.greeting {
  color: var(--color-text-highlight);
  font-size: var(--font-size-2xl);
  font-weight: bold;
  line-height: var(--line-height-md);
  text-align: center;
  margin: 0;
}

.summary {
  font-size: var(--font-size-md);
  letter-spacing: var(--letter-spacing-sm);
  line-height: var(--line-height-xl);
  text-align: center;
}

.totalDue {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-top: 48px;
}

.totalDue > dt {
  color: var(--color-text-label);
  font-weight: bold;
  font-size: var(--font-size-md);
  line-height: var(--line-height-xl);
  letter-spacing: var(--letter-spacing-sm);
}

.totalDue > dd {
  color: var(--color-text-highlight);
  font-size: var(--font-size-2xl);
  font-weight: bold;
  line-height: var(--line-height-md);
  margin-left: 0;
}

/* Payment information */

.form {
  background-color: var(--color-form-bg);
  border-bottom: 1px solid var(--color-section-border);
  padding: 0 32px 32px 32px;
  width: 100%;
}

.formHeader {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 20px 0;
}

.formHeader span {
  display: block;
  height: 24px;
  width: 24px;
  background-color: var(--color-button-bg);
  border-radius: 50%;
  text-align: center;
  color: white;
  font-size: var(--font-size-md);
  line-height: var(--line-height-xl);
}

.formHeader h1 {
  font-size: var(--font-size-lg);
  font-weight: bold;
  line-height: var(--line-height-xl);
  margin: 0;
}

.formFields {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.sideBySide {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

@media (min-width: 786px) {
  .form {
    border-radius: var(--border-radius-xl);
    padding: 16px 32px 32px 32px;
  }
}

/* Review and pay */

.paymentDetails {
  margin: 0;
  font-size: var(--font-size-lg);
  line-height: var(--line-height-sm);
  letter-spacing: var(--letter-spacing-sm);
}

.paymentMethod {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin: 30px 0 36px 0;
  font-size: var(--font-size-sm);
  line-height: var(--line-height-lg);
  letter-spacing: var(--letter-spacing-sm);
}

.paymentMethod dt {
  font-weight: bold;
  color: var(--color-text-label);
}

.paymentMethod dd {
  margin-left: 0;
  display: flex;
  align-items: center;
  gap: 12px;
}

/* Completed */

.thankYou {
  color: var(--color-text-highlight);
  font-size: var(--font-size-2xl);
  font-weight: bold;
  line-height: var(--line-height-md);
  text-align: center;
  margin-top: 96px;
}

@media (min-width: 786px) {
  .container {
    max-width: 576px;
  }
}
