.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-image: var(--color-bg);
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  gap: 3rem;
  padding: 32px;
  outline: 1px solid lightgreen;
}

@media (min-width: 786px) {
  .container {
    max-width: 480px;
  }
}
